/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */


html {

  font-size: large;
  font-family: "Inconsolata", monospace;
  line-height: normal;
  background-color: #d9f0a3;
}

h1 {

  font-size: 5em;
  background-color: #00ffe5;
  padding: 0.25em;
}


h2 {

  font-size: 3em;
}

nav {


  background-color: #00ffe5;
  padding: 0;
  text-align: center;
}

nav li {

  text-align: center;
  padding: 1em;
  text-indent: 0;
  font-size: 2em;
}

nav li:hover {

  background-color: #008a7c;
}

ul {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

input {

  display: flex;
  min-width: 0;
  font-size: 2em;
  margin: 0.25em;
}

section {

  background-color: #5cffbe;
  padding: 2em;
}

#content {

  padding: 0.5em;
}

p {

  font-size: 1.5em;
}

img {

  display: flex;
  flex-flow: row wrap;
  height: auto;
  max-width: 100%;

}
